In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import nltk
from nltk import word_tokenize, sent_tokenize
from nltk.corpus import stopwords
from nltk.stem import LancasterStemmer, WordNetLemmatizer, PorterStemmer
from wordcloud import WordCloud, STOPWORDS
from textblob import TextBlob

In [47]:
Isp_review = pd.read_csv("DataCrawl_indihome_V4.csv")

Isp_review.shape  #untuk melihat Berapa baris, berapa kolom

(81757, 2)

In [48]:
Isp_review.columns #untuk melihat terdapat kolom apa saja

Index(['Tgl', 'Tweet'], dtype='object')

In [49]:
df = pd.DataFrame(Isp_review)
#df.head() #untuk melihat isi csv 5 baris teratas
df["Tweet"] = df['Tweet'].astype(str) #mengubah kolom tweet jadi string

In [50]:
df['Tweet'][0] #tweet pertama dimulai dari index ke 0, jadi [0] = melihat tweet pertama

'@IndiHome MASIH CACAAAATTTTTTTTTT https://t.co/sSwv3qaMsZ'

In [51]:
df['Tweet'] = df['Tweet'].str.replace('<.*?>', '') #hapus HTML Tag

df['Tweet'] = df['Tweet'].str.replace('\d+', '') #Hapus Angka

df['Tweet'] = df['Tweet'].str.replace('[^\w\s]', '') #Hapus Spesial Karakter

#lowercas
df['Tweet'] = df['Tweet'].apply(lambda x: " ".join(x.lower() for x in x.split()))

df['Tweet'][0]

'indihome masih cacaaaatttttttttt httpstcosswvqamsz'

In [53]:
df['Tweet'][10]

'hi sobat cobain yuk fiturfitur menarik dari aplikasi useetv go nonton acara favorit jadi makin seru selama httpstcopowutde'

In [59]:
stop = stopwords.words('indonesian')
df['Tweet'] = df['Tweet'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
df['Tweet'][10]

'hi sobat cobain yuk fiturfitur menarik aplikasi useetv go nonton acara favorit seru httpstcopowutde'

In [62]:
df.tail()

                 Tgl                                              Tweet
81752  6/5/2020 0:10  indihome dear kawan bantu follow up eskalasi r...
81753            NaN                                                nan
81754  6/5/2020 0:09         gimanna ni belom dibenerin indihome cek dm
81755            NaN                                                nan
81756  6/5/2020 0:07  indihome min liat tanggal jatuh tempo pembayar...

In [67]:
df.to_csv("Data_HslPreProcessing.csv") #Save Hasil PreProcessing Ke file csv baru

In [68]:
pd.read_csv("Data_HslPreProcessing.csv") #cek Hasilnya di file csv baru

,Unnamed: 0,Tgl,Tweet
0,0,6/13/2020 5:01,indihome cacaaaatttttttttt httpstcosswvqamsz
1,1,NaN,NaN
2,2,6/13/2020 5:01,pagi min indihome refund uang full mohon penje...
3,3,NaN,NaN
4,4,6/13/2020 5:01,indihome min internet mati lampu pon warna mer...
...,...,...,...
81752,81752,6/5/2020 0:10,indihome dear kawan bantu follow up eskalasi r...
81753,81753,NaN,NaN
81754,81754,6/5/2020 0:09,gimanna ni belom dibenerin indihome cek dm
81755,81755,NaN,NaN
81756,81756,6/5/2020 0:07,indihome min liat tanggal jatuh tempo pembayar...